window#Systray {
  background: transparent;
  color: white;
  font-weight: bold;
  background: transparent;
  min-width: 150px;
  min-height: 50px;
  margin-left: 8px;
  button {
    border-radius: 8px;
    margin: 2px;
  }
}
